@import "tailwindcss";
@import "tw-animate-css";

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* padding: 10px; */
  font-family: poppins;
}
.btn {
  @apply px-4 py-2 bg-[#4A90E2] hover:bg-[#899cb1] hover:text-white rounded-md transition text-center text-white w-full;
}

/* header section starts here */

.hero-section {
  background-image: url("../app/images/overlay.png"),
    url("../app/images/hero-bgg.png");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-category-bar {
  scrollbar-width: none;
}

.dummy {
  scrollbar-width: none;
}
p {
  color: #99a1af;
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/* Shadcn Chart UI  */
@layer base {
  :root {
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}

/* Explore Courses */
.exploreCourses {
  background-image: url("../app/images/overlay.png"),
    url("../app/images/explore-course-banner.png");
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
